{% extends 'ComoTneBundle::layout.html.twig' %}

{% block headline %}Jobbet Job Board{% endblock headline %}

{% block content %}

<h1>Category list</h1>

<table class=" table_striped">
    <thead>
        <tr>
            
            <th>Name</th>
           
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
            
            <td>{{ entity.name }}</td>
           
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('category_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock content %}