<div class="lightbox1"  tabindex="-1" role="dialog" aria-hidden="true">
                
                <div class='lightbox-content1'>
                    <iframe height="150" width="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{ obj.GeocodeGdaLatitude }},{{ obj.GeocodeGdaLongitude }}&amp;aq=&amp;z=14&amp;output=embed">
            </iframe>
                </div>
        </div>



       