{% for ar_key,ar_val in providerDump %}
    
    <li>
            <strong>{{ar_key}}</strong>
            {% if ar_val  | keys |length > 0 %}
                <ul>
                    {% include 'ComoFrontBundle:Default:provider_dump.html.twig' with {'providerDump':ar_val} %}
                </ul>
            {% else %}
                : {{ar_val}}
            {% endif %}
        </li>
{% endfor %}
        