{% extends 'ComoTneBundle::layout.html.twig' %}

{% block headline %}Jobbet Job Board{% endblock headline %}

{% block content %}
        {% for category in categories %}     
          <div class="row-fluid"><div class="span12">            
            <h1><a href="{{ path('ComoTneBundle_category', { 'slug': category.slug }) }}">{{ category.name }}</a></h1> 
          </div>
        
          {% include 'ComoTneBundle:Job:list.html.twig' with {'jobs': category.activejobs} %}

          <div class="row-fluid">
            {% if category.morejobs %}
            <div class="span9 more_jobs">
            </div>
            <div class="span3 more_jobs">
              and <a href="{{ path('ComoTneBundle_category', { 'slug': category.slug }) }}">{{ category.morejobs }}</a>
              more...
            </div>
          {% endif %}
        </div>
      {% endfor %}
{% endblock content %}