{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block actions %}
    <div class="sonata-actions">
        {% include 'ComoAccommodationBundle:ProductAdmin:createbutton.html.twig' %}
    </div>
{% endblock %}